%p#notice= notice

%p
  %b Name:
  = @achievement_category.name
%p
  %b Description:
  = @achievement_category.description
%p
  %b Is public:
  = @achievement_category.is_public

= link_to 'Edit', edit_achievement_category_path(@achievement_category)
\|
= link_to 'Back', achievement_categories_path
