= metamagic :title => "How to compare your visual resume",:keywords => "Visual Resume,resume rating, resume comparison",:description => "Compare with resume with thousand other visual resume and know what you are missing"

%div.row-fluid
  %div.span8{:style=>"margin-left:20px;margin-top:32px;"}
    %h4 Step 4: Compare your visual resume with others
    %h5 
      You must be asking why i should compare my resume with others, here is why
    %br
    How do you know you resume is better than the other candidates who may apply for the same job? well you can figure that out by comparing your resume
    %br
    %br
    Luckily finding that out is very easy
    %br
    %br
    1. Click on the “Skills”  from the main menu page.
    %br
    %br
    2. Compare with other users in the pixsume network or you can choose can type an individual name if you want to compare a specific comparison
    
    %br
    %br
    %img{:alt => "",:src => "../assets/compare1.png"}
    %br
    %br
    %div{:style=>"color:#000000;font-weight:bold;"}Comparing with Pixsume network
    %br
    Pixsume will automatically find job titles which are similar to yours and suggest matches or if you don't have one, you can enter a job title for resume comparison
    %br
    %br
    %img{:alt => "",:src => "../assets/image04.png"}
    %br
    %br
    Click on Compare to see the results
    %br
    %br
    %img{:alt => "",:src => "../assets/image07.png"}
    %br
    %div{:style=>"color:#000000;font-weight:bold;"}Comparing with Individual
    %br
    %br
    1. If you know a friend or another person with whom you would like to compare your visual resume with then Click on “Compare with an Individual”
    %br
    %br
    %img{:alt => "",:src => "../assets/compare1.png"}
    %br
    %br
    2. You can enter the name of the person, if the name doesn’t exist you can send them an invite, its that easy!
    %br
    %br
    %img{:alt => "",:src => "../assets/image08.png"}
    %br
    %br
    %br
    %a.edit{:href =>how_to_rate_your_skill_path ,:class=>"btn btn-primary",:style=>"float:left;margin-right:-157px;"} Back  
    %a.edit{:href =>improve_your_visual_resume_path ,:class=>"btn btn-primary",:style=>"float:right"} Next
    %br
    %br
  %div.span2{:style=>"width:400px;"}

    %line{:style=>"position: absolute;border-left:1px solid #1F1F1F;margin-left:160px;top:59px;height:151.2em;"}
    %p{:style=>"color:#1AB9F0;text-align: center;margin-top: 32px;font-weight:bold;font-size:22px;margin-left:138px;"}
      = "Product Tutorial"
    %ul{:style=>"font-color:'#0000';font-size:12px;margin-left:173px;line-height:24px;"}
      %div{:style=>"font-color:#0000;"}
      
      %br
      %li
       
        = link_to "Step 1: First Things First", first_thing_first_path
      
      %li
        = link_to "Step 2: How to use your Pixsume in job search", pixsume_in_job_search_path
      
      %li
        = link_to "Step 3: How to rate your skill set", how_to_rate_your_skill_path
     
      %li
        = link_to "Step 4: Compare your visual resume with other", compare_your_visual_resume_path
      
      %li
        = link_to "Step 5: Improve your visual resume", improve_your_visual_resume_path
    
    %p{:style=>"color:#1AB9F0;text-align:center;margin-left:139px;font-weight:bold;font-size:12px;"}
      = "Don't have a Pixsume Account"
    %a.edit{:href =>root_url ,:class=>"btn btn-primary",:style=>"margin-left:170px;"} Create your visual resume
%script{src: "../assets/bootstrap-filestyle.min.js", type: "text/javascript"}


%script{:src => "http://w.sharethis.com/button/buttons.js", :type => "text/javascript"}          
