= metamagic :title => "Complete Your Visual Resume",:keywords => "Visual Resume",:description => "Complete your visual resume"



%div.row-fluid
  %div.span8{:style=>"margin-left:20px;margin-top:32px;"}
    %h4 Step 1: First Things First
    %br
    %h6 Make sure your visual resume is complete. When we say complete, make sure you have the following
    %br
    %div{:style=>"color:#1AB9F0;font-weight:bold;"}A) Summary: 
    %br
    Product Manager , Product Evangelist : 15 years of product Management experience with strong focus on entire cycle from Concept to Launch 
    %br
    %br
    %div{:style=>"color:#1AB9F0;font-weight:bold;"}B) Job Experience:
    %br
    For example Add few words best describing responsibilities of different jobs held mple
    %br
    %br
    %img{:alt => "",:src => "../assets/image01.png"}
    %br
    %br
    %div{:style=>"color:#1AB9F0;font-weight:bold;"}C) Skills Set:
    %br
    Make sure you add your key skills under the Skill set section
    %img{:alt => "",:src => "../assets/image05.png"}
    %br
    %br
    
    %div{:style=>"color:#1AB9F0;font-weight:bold;"}D) Achievements:
    %br 
    This is the most important part of your visual resume, Recruiters always look at what your Key achievements are. Make sure you have identified your key
    %br
    %br
    %img{:alt => "",:src => "../assets/image00.png"}
    %br
    %br
    %div{:style=>"color:#1AB9F0;font-weight:bold;"}E) Contact information:
    %br
    If you want to be reached, make sure your contact information is entered.
    %br

    %img{:alt => "", :src => "/assets/image10.png"}
    / %br
    / %img{:alt => "", :src => "/assets/phone-icon.gif"}925-878-1234
    %br
    %br
    To make changes to any of these sections, Click on Edit to get started
    %br
    %br
    %img{:alt => "", :src => "/assets/image13.png"}
    / %span.st_sharethis_large{:displaytext => "ShareThis", :"st_url" => "#", :"st_title" => "#", :"st_summary" => "#"}
    / %span.st_facebook_large{:displaytext => "Facebook", :"st_url" => "#", :"st_title" => "#", :"st_summary" => "#"}
    / %span.st_twitter_large{:displaytext => "Tweet", :"st_url" => "#", :"st_title" => "#", :"st_summary" => "#"}
    / %span.st_linkedin_large{:displaytext => "LinkedIn", :"st_url" => "#", :"st_title" => "#", :"st_summary" => "#"}
    / %span.st_pinterest_large{:displaytext => "Pinterest", :"st_url" => "#", :"st_title" => "#", :"st_summary" => "#"}
    / %span.st_email_large{:displaytext => "Email", :"st_url" => "#", :"st_title" => "#", :"st_summary" => "#"}
    / %a.edit{:href => profile_url,:class=>"btn btn-success",:style=>"margin-top:-25px;"} Edit
    / %br
    / %br
    / %a.edit{:href =>pixsume_in_job_search_path ,:class=>"btn btn-primary",:style=>"float:right ;"} Next
    
    %br
    %br
   
  %div.span2{:style=>"width:400px;"}

    %line{:style=>"position: absolute;border-left:1px solid #1F1F1F;margin-left:160px;top:59px;height:104.3em;"}
    %p{:style=>"color:#1AB9F0;text-align: center;margin-top: 32px;font-weight:bold;font-size:22px;margin-left:138px;"}
      = "Product Tutorial"
    %ul{:style=>"font-color:'#0000';font-size:12px;margin-left:173px;line-height:24px;"}
      %div{:style=>"font-color:#0000;"}
      
      %br
      %li
       
        = link_to "Step 1: First Things First", first_thing_first_path
      
      %li
        = link_to "Step 2: How to use your Pixsume in job search", pixsume_in_job_search_path
      
      %li
        = link_to "Step 3: How to rate your skill set", how_to_rate_your_skill_path
     
      %li
        = link_to "Step 4: Compare your visual resume with other", compare_your_visual_resume_path
      
      %li
        = link_to "Step 5: Improve your visual resume", improve_your_visual_resume_path
    
    %p{:style=>"color:#1AB9F0;text-align:center;margin-left:139px;font-weight:bold;font-size:12px;"}
      = "Don't have a Pixsume Account"
    %a.edit{:href =>root_url ,:class=>"btn btn-primary",:style=>"margin-left:170px;"} Create your visual resume
%script{src: "../assets/bootstrap-filestyle.min.js", type: "text/javascript"}


%script{:src => "http://w.sharethis.com/button/buttons.js", :type => "text/javascript"}          
