= metamagic :title => "How to rate your skills",:keywords => "Visual Resume, resume rating, skill set",:description => "Read this product tutorial to know how to rate your skills in your visual resume"

%div.row-fluid
  %div.span8{:style=>"margin-left:20px;margin-top:32px;"}
    %h4 Step 3: How to rate your skillsets 
    %h6 One of the key ingredients of your visual resume is the skill set section, this is where you mention what you have to offer to the hiring organization
    %br
    %br
    1. Make sure to mention all the skill sets 
    %br
    %br
    2. Click on the edit section of your pixsume 
    %br
    %br
    3. Go to Skill set section 
    %br
    %br
    4. Add your skill and rate your skill sets, it is important because you need to highlight what you are good at, see the screenshot below on how to do that
    %br
    %br
    %img{:alt => "",:src => "../assets/skill set1.png"}
    %br
    %br
    5. Once done, Click on Done and don’t forget to Click on “Create Pixsume” to publish your changes
    %br
    %br
    
    %a.edit{:href =>compare_your_visual_resume_path ,:class=>"btn btn-primary",:style=>"float:right;"} Next
    %a.edit{:href =>pixsume_in_job_search_path ,:class=>"btn btn-primary",:style=>"float:left;"} Back
    %br
    %br
     
  %div.span2{:style=>"width:400px;"}

    %line{:style=>"position: absolute;border-left:1px solid #1F1F1F;margin-left:160px;top:59px;height:47.3em;"}
    %p{:style=>"color:#1AB9F0;text-align: center;margin-top: 32px;font-weight:bold;font-size:22px;margin-left:138px;"}
      = "Product Tutorial"
    %ul{:style=>"font-color:'#0000';font-size:12px;margin-left:173px;line-height:24px;"}
      %div{:style=>"font-color:#0000;"}
      
      %br
      %li
       
        = link_to "Step 1: First Things First", first_thing_first_path
      
      %li
        = link_to "Step 2: How to use your Pixsume in job search", pixsume_in_job_search_path
      
      %li
        = link_to "Step 3: How to rate your skill set", how_to_rate_your_skill_path
     
      %li
        = link_to "Step 4: Compare your visual resume with other", compare_your_visual_resume_path
      
      %li
        = link_to "Step 5: Improve your visual resume", improve_your_visual_resume_path
    
    %p{:style=>"color:#1AB9F0;text-align:center;margin-left:139px;font-weight:bold;font-size:12px;"}
      = "Don't have a Pixsume Account"
    %a.edit{:href =>root_url ,:class=>"btn btn-primary",:style=>"margin-left:170px;"} Create your visual resume
%script{src: "../assets/bootstrap-filestyle.min.js", type: "text/javascript"}


%script{:src => "http://w.sharethis.com/button/buttons.js", :type => "text/javascript"}          
