= metamagic :title => "How to Improve your resume",:keywords => "visual resume, resume rating, resume comparison",:description => "Compare with resume with thousand other visual resume and know what you are missing"

%div.row-fluid
  %div.span8{:style=>"margin-left:20px;margin-top:32px;"}

    %h4 Step 5: Improve your visual resume
    %br
    %h6 If you reached to step 5, congratulations!. You have created a visual resume, and probably shared this with others, compared with other resumes.

    If your resume stand out from others, Good Job!, however, if your resume need improvement, don't worry, we will help You
    %br
    %br
    1. You resume map tells you what skills needs improvement or skills which you need to acquire. Make sure to mention all the skill sets 
    %br
    %br
    %br
    2. Go to your resume comparison map
    %br
    %br
    
    %img{:alt => "",:src => "../assets/image07.png"}
    %br
    %br
    3. Click on any Skill set name to see available resources
    %br
    %br
    
    %img{:alt => "",:src => "../assets/image02.png"}
    %br
    %br
    
    %a.edit{:href =>compare_your_visual_resume_path ,:class=>"btn btn-primary",:style=>"float:left;"} Back
    %br
    %br
  %div.span2{:style=>"width:400px;"}

    %line{:style=>"position: absolute;border-left:1px solid #1F1F1F;margin-left:160px;top:59px;height:78.7em;"}
    %p{:style=>"color:#1AB9F0;text-align: center;margin-top: 32px;font-weight:bold;font-size:22px;margin-left:138px;"}
      = "Product Tutorial"
    %ul{:style=>"font-color:'#0000';font-size:12px;margin-left:173px;line-height:24px;"}
      %div{:style=>"font-color:#0000;"}
      
      %br
      %li
       
        = link_to "Step 1: First Things First", first_thing_first_path
      
      %li
        = link_to "Step 2: How to use your Pixsume in job search", pixsume_in_job_search_path
      
      %li
        = link_to "Step 3: How to rate your skill set", how_to_rate_your_skill_path
     
      %li
        = link_to "Step 4: Compare your visual resume with other", compare_your_visual_resume_path
      
      %li
        = link_to "Step 5: Improve your visual resume", improve_your_visual_resume_path
    
    %p{:style=>"color:#1AB9F0;text-align:center;margin-left:139px;font-weight:bold;font-size:12px;"}
      = "Don't have a Pixsume Account"
    %a.edit{:href =>root_url ,:class=>"btn btn-primary",:style=>"margin-left:170px;"} Create your visual resume
%script{src: "../assets/bootstrap-filestyle.min.js", type: "text/javascript"}


%script{:src => "http://w.sharethis.com/button/buttons.js", :type => "text/javascript"}          
