= metamagic :title => "How to use your visual resume in job search",:keywords => "Visual Resume,job search",:description => "Read this product tutorial to know how to use visual resume in your job search"

%div.row-fluid
  %div.span8{:style=>"margin-left:20px;margin-top:32px;"}
    %h4 Step 2: How to use your pixsume in job search
    %br
    %h6 You created your beautiful visual resume, now what?. Lets look at how you use your visual resume in your job search. There are multiple ways 
    %br
    %div{:style=>"color:#1AB9F0;font-weight:bold;"}A) Share your resume:
    %br
    Pixsume offers different ways in which you can share your resume with others, there is an inbuilt social sharing bar which you can use to spread the word, check the sharing bar on the right hand corner of your pixsume.
    %br
    %br
    %img{:alt => "",:src => "../assets/image09.png"}
    / %span.st_sharethis_large{:displaytext => "ShareThis", :"st_url" => "#", :"st_title" => "#", :"st_summary" => "#"}
    / %span.st_facebook_large{:displaytext => "Facebook", :"st_url" => "#", :"st_title" => "#", :"st_summary" => "#"}
    / %span.st_twitter_large{:displaytext => "Tweet", :"st_url" => "#", :"st_title" => "#", :"st_summary" => "#"}
    / %span.st_linkedin_large{:displaytext => "LinkedIn", :"st_url" => "#", :"st_title" => "#", :"st_summary" => "#"}
    / %span.st_pinterest_large{:displaytext => "Pinterest", :"st_url" => "#", :"st_title" => "#", :"st_summary" => "#"}
    / %span.st_email_large{:displaytext => "Email", :"st_url" => "#", :"st_title" => "#", :"st_summary" => "#"}
    / %a.edit{:href => profile_url,:class=>"btn btn-success",:style=>"margin-top:-25px;"} Edit
    %br
    %br
    %div{:style=>"color:#1AB9F0;font-weight:bold;"}B) Include your visual resume in your LinkedIn profile:
    %br

    Using your visual resume in your LinkedIn profile is a great way to stand out and it is very easy to do
    %br
    Copy the URL of your visual resume, and go to your linkedin profile
    %br
    %br
    1. Go to websites section
    %br
    %br
    2. Select the option of “Other” from the dropdown
    %br
    %br
    3. Add title as Visual resume or My Visual Resume
    %br
    %br
    4. Add the link to your visual resume
    %br
    %br
    %img{:alt => "",:src => "../assets/image12.png"}
    %br
    %br
    %div{:style=>"color:#1AB9F0;font-weight:bold;"}C) Include visual resume link in your resume header:
    %br
     
    You can include your visual link into your pixsume header
    %br
    %br
    1. Copy your pixsume URL
    %br
    %br
    2. Include in the header of your pixsume
    %br
    %br
    %div{:style=>"text-align:center;font-weight:bold;"}
      Mike miller

      123 Aveneue Street,San Francisco, California
      %br
      Visual Resume: 107.170.114.144/mike
      
    %br
    %br
    %a.edit{:href =>how_to_rate_your_skill_path ,:class=>"btn btn-primary",:style=>"float:right"} Next
    %a.edit{:href =>first_thing_first_path ,:class=>"btn btn-primary",:style=>"float:left"} Back
    %br
    %br
       
  %div.span2{:style=>"width:400px;"}

    %line{:style=>"position: absolute;border-left:1px solid #1F1F1F;margin-left:160px;top:59px;height:71.6em;"}
    %p{:style=>"color:#1AB9F0;text-align: center;margin-top: 32px;font-weight:bold;font-size:22px;margin-left:138px;"}
      = "Product Tutorial"
    %ul{:style=>"font-color:'#0000';font-size:12px;margin-left:173px;line-height:24px;"}
      %div{:style=>"font-color:#0000;"}
      
      %br
      %li
       
        = link_to "Step 1: First Things First", first_thing_first_path
      
      %li
        = link_to "Step 2: How to use your Pixsume in job search", pixsume_in_job_search_path
      
      %li
        = link_to "Step 3: How to rate your skill set", how_to_rate_your_skill_path
     
      %li
        = link_to "Step 4: Compare your visual resume with other", compare_your_visual_resume_path
      
      %li
        = link_to "Step 5: Improve your visual resume", improve_your_visual_resume_path
    
    %p{:style=>"color:#1AB9F0;text-align:center;margin-left:139px;font-weight:bold;font-size:12px;"}
      = "Don't have a Pixsume Account"
    %a.edit{:href =>root_url ,:class=>"btn btn-primary",:style=>"margin-left:170px;"} Create your visual resume
%script{src: "../assets/bootstrap-filestyle.min.js", type: "text/javascript"}


%script{:src => "http://w.sharethis.com/button/buttons.js", :type => "text/javascript"}    


