%p#notice= notice

%p
  %b Job:
  = @job_posting_skill_set.job_posting_id
%p
  %b Name:
  = @job_posting_skill_set.name

= link_to 'Edit', edit_job_posting_skill_set_path(@job_posting_skill_set)
\|
= link_to 'Back', job_posting_skill_sets_path
